#banner 
	.banner_content
		%h1 File Cabnit
		%p Your life's work. Organized, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Orgnize
				%p copper mug labore. Literally ethical kinfolk chillwave. Banjo selvage humblebrag hell of eiusmod mlkshk. Banjo fugiat shabby chic ad proident laborum. Tumeric retro elit cillum kogi, iPhone pop-up butcher heirloom bicycle rights glossier seitan officia selvage. Raclette master cleanse tempor irony, activated charcoal pinterest vaporware banjo synth marfa wayfarers ethical. Kogi salvia veniam typewriter, banh mi before they sold out lomo synth dreamcatcher chillwave.

#bottom_cta
	.wrapper
		%h2 Go Ahead
		%br 
		%button= link_to "join now", new_user_registration_path